<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <h1>Here you can leave your feedback...</h1>
  <p>For additional information visit <%= link_to "About", pages_about_path %> page</p>
  <hr />
  <div class="row">
      <%= form_for :feedback do |feedback| %>
        <p>
          <%= feedback.label :name %><br />
          <%= feedback.text_field :name, placeholder: "Type here your name" %>
        </p>
        <p>
          <%= feedback.label :email %><br />
          <%= feedback.text_field :email, placeholder: "Your e-mail" %>
        </p>
        <p>
          <%= feedback.label :message %><br/>
          <%= feedback.text_area :message, placeholder: "Leave here your message"%>
        </p>
      <% end %>
  </div>
</div>